<%- include('../partials/header') %>

<a href="/podcasts" class="button button-primary"><img class="butt-img" src="/images/back-arrrow.png" alt=""> Go Back</a>
<form action="/podcasts/search" method="GET">
  <input type="search" name="podTitle" placeholder="Search Podcast Title">
  <button type="submit" class="button button-primary" >Submit <img class="butt-img" src="/images/submit-icon.png" alt="submit-icon"></button>
</form>

<div class="row">
<% podcasts.forEach(function(p) { %>
    <div class="four columns search-items">
      <ul>
        <li class="search-name" ><b>Title:</b> <%= p.title %></li>
        <li><b>Length:</b> <%= p.length %></li>
        <li><b>Seasons:</b> <%= p.seasons %></li>
        <li><b>Type:</b> <%= p.type %></li>
        <li><b>Host Count:</b> <%= p.hostCount %></li>
        <li><b>Guests?</b> <%= p.guest %></li>
        <% p.reviews.forEach(function(r) { %>
          <li class="latest-review"><b>Latest Review:</b> <%= r.content.charAt(0).toUpperCase() + r.content.slice(1) %> <%= r.rating %> rating!</li>
          <% }) %>
      </ul>
    </div>
<% }) %>
</div>


<%- include('../partials/footer') %>