<%- include('../partials/header') %>

<h3>Search page</h3>
<a href="/podcasts" class="button button-primary">Go Back</a>
<form action="/podcasts/search" method="GET">
  <input type="search" name="podTitle" placeholder="Search Podcast Title">
  <input type="submit" class="button button-primary">
</form>

<div class="row">
<% podcasts.forEach(function(p) { %>
    <div class="three columns search-items">
      <ul>
        <li class="search-name" >Title: <%= p.title %></li>
        <li>Length: <%= p.length %></li>
        <li>Seasons: <%= p.seasons %></li>
        <li>Type: <%= p.type %></li>
        <li>Host Count: <%= p.hostCount %></li>
        <li>Guests? <%= p.guest %></li>
        <% p.reviews.forEach(function(r) { %>
          <li class="latest-review">Latest Review: <%= r.content.charAt(0).toUpperCase() + r.content.slice(1) %> <%= r.rating %> rating!</li>
          <% }) %>
      </ul>
    </div>
<% }) %>
</div>


<%- include('../partials/footer') %>