<%- include('../partials/header') %>

<h3>Show Page</h3>

<ul>
    <li>Title: <%= podcasts.title %></li>
    <li>Length: <%= podcasts.length %></li>
    <li>Seasons: <%= podcasts.seasons %></li>
    <li>Type: <%= podcasts.type %></li>
    <li>Genre: <%= podcasts.genre %></li>
    <li>Host Count: <%= podcasts.hostCount %></li>
    <li>Guests?: <%= podcasts.guest %></li>
</ul>

<%- include('../partials/footer') %>