<%- include('../partials/header') %>

<h3 class="show-title"><%= podcasts.title %></h3>

<ul>
    <li><b>Length:</b> <%= podcasts.length %></li>
    <li><b>Seasons:</b> <%= podcasts.seasons %></li>
    <li><b>Type:</b> <%= podcasts.type %></li>
    <li><b>Genre:</b> <%= podcasts.genre %></li>
    <li><b>Host Count:</b> <%= podcasts.hostCount %></li>
    <li><b>Guests?:</b> <%= podcasts.guest %></li>
</ul>
<hr>
<% if (podcasts.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date:</th>
        <th>Review:</th>
        <th>Rating:</th>
      </tr>
    </thead>
    <tbody>
      <% podcasts.reviews.forEach(function(p) { %>
        <tr>
          <td><%= p.createdAt.toLocaleDateString() %></td>
          <td><%= p.content %></td>
          <td><%= p.rating %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>Not Yet Enriched</h5>
<% } %>


<form action="/podcasts/<%= podcasts._id %>/reviews" method="POST">
  <div class="row">
  <textarea name="content" class="six columns" placeholder='Enrich your "pea" with a review! - Add information like the season or episode to enrich your pea even more! Only the last review will appear in search'></textarea>
  </div>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <button type="submit" class="button button-primary" >Submit <img class="butt-img" src="/images/submit-icon.png" alt="submit-icon"></button>
</form>
<div class="show-button">
    <a href="/podcasts" class="button button-primary"><img class="butt-img" src="/images/back-arrrow.png" alt=""> Go Back</a>
  <a href="/podcasts/<%= podcasts.id %>/edit" class="button button-primary"><img class="butt-img" src="/images/edit-icon.png" alt=""> Edit Pea</a>
  <form action="/podcasts/<%= podcasts.id %>?_method=DELETE" method="POST">
  <button type="submit" class="button button-primary"> <img class="butt-img" src="/images/delete-icon.png" alt=""> Delete</button>
  </form>
</div>

<%- include('../partials/footer') %>