<%- include('../partials/header') %>

<h3>Show Page</h3>

<ul>
    <li>Title: <%= podcasts.title %></li>
    <li>Length: <%= podcasts.length %></li>
    <li>Seasons: <%= podcasts.seasons %></li>
    <li>Type: <%= podcasts.type %></li>
    <li>Genre: <%= podcasts.genre %></li>
    <li>Host Count: <%= podcasts.hostCount %></li>
    <li>Guests?: <%= podcasts.guest %></li>
</ul>
<hr>
<% if (podcasts.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date:</th>
        <th>Review:</th>
        <th>Rating:</th>
      </tr>
    </thead>
    <tbody>
      <% podcasts.reviews.forEach(function(p) { %>
        <tr>
          <td><%= p.createdAt.toLocaleDateString() %></td>
          <td><%= p.content %></td>
          <td><%= p.rating %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>Not Yet Enriched</h5>
<% } %>


<form action="/podcasts/<%= podcasts._id %>/reviews" method="POST">
  <div class="row">
  <textarea name="content" class="six columns" placeholder='Enrich your "pea" with a review! - Add information like the season or episode to enrich your pea even more! Only the last review will appear in search'></textarea>
  </div>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" class="button button-primary">
</form>
<div class="show-button">
  <a href="/podcasts" class="button button-primary">Go Back</a>
  <a href="/podcasts/<%= podcasts.id %>/edit" class="button">Edit Pea</a>
  <form action="/podcasts/<%= podcasts.id %>?_method=DELETE" method="POST">
  <input type="submit" value="Delete">
  </form>
</div>

<%- include('../partials/footer') %>